* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

.main-container {
  width: 80%;
  background: yellow;
  margin: 0 auto;
  padding: 40px 20px;
}
