* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

header {
  background-color: #d1495b;
  padding: 20px;
  color: #fff;
  width: 100%;
}

.main-container {
  width: 80%;
  margin: 0 auto;
  padding: 40px 20px;
}

.form-div {
  padding: 20px;
}

.form-set-message {
  margin-bottom: 20px;
}
.error {
  width: 20%;
  padding: 20px;
  margin-top: 10px;
  background: #ff0000;
  color: #fff;
  border-radius: 14px;
}

.get-message {
  margin-top: 30px;
  display: block;
  width: 100%;
  height: 50px;
}
